
#eat {
  box-sizing: border-box;
  padding: 5px;
  width: 50%;
  height: 50%;
  margin-top: 10px;
  
  // line-height: 150px;
  color: black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.eat {
  background-color: navajowhite;
  width: 60%;
  margin: auto;
}